<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".hip14"></activity>
        <activity android:name=".hip13" />
        <activity android:name=".hip12" />
        <activity android:name=".hip11" />
        <activity android:name=".hip10" />
        <activity android:name=".hip9" />
        <activity android:name=".hip8" />
        <activity android:name=".hip7" />
        <activity android:name=".hip6" />
        <activity android:name=".hip5" />
        <activity android:name=".hip4" />
        <activity android:name=".hip3" />
        <activity android:name=".hip2" />
        <activity android:name=".hip" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>